<div class="custom-new-products-label">
    <div class="inner-container">
        <div class="content">
            <h1 class="label">
                SHOP NEW & HOT DEALS PRODUCTS
            </h1>
            <div class="line-container">
                <div class="line"></div>
            </div>
            <p class="text-content">
                Here are our hottest deals from across our entire site - all in one handy place for you to
            </p>
        </div>
    </div>
</div>
