<nav class="custom-navUser">
    
    <ul class="custom-navUser-section">
        {{#each categories}}
            {{#if name '===' "HOME"}}
                <li>
                    <button>
                        <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}" aria-label="{{name}}">
                            <img src="{{cdn 'assets/img/custom-img/home_icon.png'}}" /> {{name}}
                        </a>
                    </button>
                </li>
            {{else}}
            {{/if}}
        {{/each}}
        {{#each pages}}
            {{#if name '===' "Blog"}}
                <li class="navPages-item navPages-item-page">
                    <a class="navPages-action{{#if name '==' ../page.title}} activePage{{/if}}" href="{{url}}"
                        aria-label="{{name}}">
                        <img src="{{cdn 'assets/img/custom-img/icon_message.png'}}" /> {{name}}
                    </a>
                </li>
            {{/if}}
        {{/each}}

        <li class="navPages-item navPages-item-page">
            <button>
                <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}" aria-label="{{name}}">
                    <img src="{{cdn 'assets/img/custom-img/location_icon.png'}}" /> Track my Order
                </a>
            </button>
        </li>

        {{#each pages}}
            {{#if name '===' "Help"}}
                <li class="navPages-item navPages-item-page">
                    <button>
                        <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{url}}" aria-label="{{name}}">
                            <img src="{{cdn 'assets/img/custom-img/help_icon.png'}}" /> {{name}}
                        </a>
                    </button>
                </li>
            {{/if}}
        {{/each}}

    </ul>

    <ul class="custom-navUser-section">

        <li>
            <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{urls.auth.login}}"
                aria-label="{{name}}">
                <img src="{{cdn 'assets/img/custom-img/key_icon.png'}}" /> login
            </a>
        </li>

        {{#if customer '===' null}}
        <li>
            <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{urls.auth.login}}"
                aria-label="{{name}}">
                <img src="{{cdn 'assets/img/custom-img/wishlist_icon.png'}}" /> My Wishlist
            </a>
        </li>
        {{else}}
        <li>
            <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{urls.account.wishlists.all}}"
                aria-label="{{name}}">
                <img src="{{cdn 'assets/img/custom-img/wishlist_icon.png'}}" /> My Wishlist
            </a>
        </li>
        {{/if}}

        {{#if customer '===' null}}
            <li>
                <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{urls.auth.login}}"
                    aria-label="{{name}}">
                    <img src="{{cdn 'assets/img/custom-img/user_icon.png'}}" /> My Account
                </a>
            </li>
        {{else}}
            <li>
                <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{urls.account.index}}"
                    aria-label="{{name}}">
                    <img src="{{cdn 'assets/img/custom-img/user_icon.png'}}" /> My Account
                </a>
            </li>
        {{/if}}

        {{#if customer '===' null}}
        <li>
            <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{urls.cart}}" aria-label="{{name}}">
                <img src="{{cdn 'assets/img/custom-img/cart_icon.png'}}" /> My Cart
            </a>
        </li>
        {{else}}
        <li>
            <a class="navPages-action{{#if is_active}} activePage{{/if}}" href="{{urls.account.orders.all}}"
                aria-label="{{name}}">
                <img src="{{cdn 'assets/img/custom-img/cart_icon.png'}}" /> My Cart
            </a>
        </li>
        {{/if}}

    </ul>

</nav>
