<div class="custom-text-promotion-label">
    <div class="inner-container">
        <div class="content">
            <h1 class="label">
                MORE THAN JUST A STORE
            </h1>
            <div class="line-container">
                <div class="line"></div>
            </div>
            <p class="text-content">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam Tempor libero vitae dolor
                imperdiet porta. Suspendisse consectuter diam et ipsum faucibus, in blandit augue ac-
            </p>
        </div>
    </div>
</div>
