{{#if name '===' "ACCENT"}}
    <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}" data-collapsible="navPages-{{id}}">
        <img src="{{cdn 'assets/img/custom-img/category-1.png'}}" class="category-img" />
    </a>
{{/if}}

{{#if name '===' "BEDROOM"}}
    <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}" data-collapsible="navPages-{{id}}">
        <img src="{{cdn 'assets/img/custom-img/category-4.png'}}" class="category-img" />
    </a>
{{/if}}

{{#if name '===' "DINING"}}
    <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}" data-collapsible="navPages-{{id}}">
        <img src="{{cdn 'assets/img/custom-img/category-3.png'}}" class="category-img" />
    </a>
{{/if}}

{{#if name '===' "LIVING"}}
    <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}" data-collapsible="navPages-{{id}}">
        <img src="{{cdn 'assets/img/custom-img/category-2.png'}}" class="category-img" />
    </a>
{{/if}}

{{#if name '===' "KIDS & ENTERTAINMENT"}}
    <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}" data-collapsible="navPages-{{id}}">
        <img src="{{cdn 'assets/img/custom-img/category-5.png'}}" class="category-img" />
    </a>
{{/if}}

<!-- {{#if name '===' "ACCENT"}}
    <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}"
        data-collapsible="navPages-{{id}}">
        <img src="{{cdn 'assets/img/custom-img/category-1.png'}}" class="category-img-accent"/>
    </a>
{{/if}} -->

<!-- {{#if name '===' "ACCENT"}}
    <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}"
        data-collapsible="navPages-{{id}}">
        <img src="{{cdn 'assets/img/custom-img/category-2.png'}}" class="category-img"/>
    </a>
{{/if}} -->

<!-- {{#each children}}
    {{#if name '===' "DINING & LIVING ROOM"}}
        <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}"
        data-collapsible="navPages-{{id}}">
            <img src="{{cdn 'assets/img/custom-img/category-3.png'}}" class="category-img"/>
        </a>
    {{/if}}
{{/each}} -->

<!-- {{#each children}}
    {{#if name '===' "DINING & LIVING ROOM"}}
        <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}"
        data-collapsible="navPages-{{id}}">
            <img src="{{cdn 'assets/img/custom-img/category-4.png'}}" class="category-img-bedroom"/>
        </a>
    {{/if}}
{{/each}} -->

<!-- {{#if name '===' "KIDS & ENTERTAINMENT"}}
    <a class="navPages-action has-subMenu{{#if is_active}} activePage{{/if}}" href="{{url}}"
        data-collapsible="navPages-{{id}}">
        <img src="{{cdn 'assets/img/custom-img/category-5.png'}}" class="category-img"/>
    </a>
{{/if}} -->
