<nav class="custom-navPages">

    <div class="navPages-quickSearch">
        {{> pages/custom/custom-template/custom-quick-search name='nav-menu-quick-search'}}
    </div>

    <ul class="navPages-list{{#if theme_settings.navigation_design '!==' 'simple'}} navPages-list-depth-max{{/if}}">
        {{#each categories}}
        <li class="navPages-item">
            {{#if ../theme_settings.navigation_design '===' 'simple'}}
            <!-- custom scss only -->
            {{> pages/custom/custom-navigation-list}}

            {{/if}}
            {{#if ../theme_settings.navigation_design '===' 'alternate'}}
            {{> components/common/navigation-list-alternate}}
            {{/if}}
        </li>
        {{/each}}
        {{#unless theme_settings.hide_content_navigation}}
        {{#each pages}}
        <!-- ship/contact/us -->
        <!-- <li class="navPages-item navPages-item-page">
                     <a class="navPages-action{{#if name '==' ../page.title}} activePage{{/if}}"
                        href="{{url}}"
                        aria-label="{{name}}"
                     >
                         {{name}}
                     </a>
                 </li> -->
        {{/each}}
        {{/unless}}
    </ul>

    <ul class="navPages-list navPages-list--user">
        {{#if customer}}
        <li class="navPages-item">
            <a class="navPages-action has-subMenu" href="{{urls.account.index}}" data-collapsible="navPages-account"
                aria-label="{{lang 'common.account'}}">
                {{lang 'common.account'}}
                <i class="icon navPages-action-moreIcon" aria-hidden="true">
                    <svg>
                        <use href="#icon-chevron-down" />
                    </svg>
                </i>
            </a>
            <div class="navPage-subMenu" id="navPages-account" aria-hidden="true" tabindex="-1">
                <ul class="navPage-subMenu-list">
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.orders.all}}"
                            aria-label="{{lang 'account.nav.orders'}}">
                            {{lang 'account.nav.orders'}}
                        </a>
                    </li>
                    {{#if settings.returns_enabled}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.returns}}"
                            aria-label="{{lang 'account.nav.returns'}}">
                            {{lang 'account.nav.returns'}}
                        </a>
                    </li>
                    {{/if}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.inbox}}"
                            aria-label="{{lang 'account.mobile_nav.messages'}}">
                            {{lang 'account.mobile_nav.messages'}}
                        </a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.addresses}}"
                            aria-label="{{lang 'account.nav.addresses'}}">
                            {{lang 'account.nav.addresses'}}
                        </a>
                    </li>
                    {{#if settings.show_payment_methods}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.payment_methods.all}}"
                            aria-label="{{lang 'account.nav.payment_methods'}}">
                            {{lang 'account.nav.payment_methods'}}
                        </a>
                    </li>
                    {{/if}}
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.wishlists.all}}"
                            aria-label="{{lang 'account.mobile_nav.wishlists'}}">
                            {{lang 'account.mobile_nav.wishlists'}}
                        </a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.recent_items}}"
                            aria-label="{{lang 'account.nav.recently_viewed'}}">
                            {{lang 'account.nav.recently_viewed'}}
                        </a>
                    </li>
                    <li class="navPage-subMenu-item">
                        <a class="navPage-subMenu-action navPages-action" href="{{urls.account.details}}"
                            aria-label="{{lang 'account.nav.settings'}}">
                            {{lang 'account.nav.settings'}}
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.auth.logout}}" aria-label="{{lang 'common.logout'}}">
                {{lang 'common.logout'}}
            </a>
        </li>
        {{else}}
        <li class="navPages-item">
            <a class="navPages-action" href="{{urls.auth.login}}" aria-label="{{lang 'common.login'}}">
                {{lang 'common.login'}}
            </a>
            {{#if settings.account_creation_enabled}}
            <a class="navPages-action" href="{{urls.auth.create_account}}" aria-label="{{lang 'common.sign_up'}}">
                {{lang 'common.sign_up'}}
            </a>
            {{/if}}
        </li>
        {{/if}}
    </ul>

</nav>
